.langs_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.langs_content .langs {
  display: flex;
}
.langs_content .langs .lang {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px 10px 20px;
  margin: 0 10px;
  cursor: pointer;
}
.langs_content .langs .lang:hover {
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.25);
  text-decoration: underline;
}
