.row_top {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  z-index: 1;
}
.search_result_item,
.history_item {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #E2E2E2;
  cursor: pointer;
}
.search_result_item:hover,
.history_item:hover {
  box-shadow: inset 0 0px 5px rgba(0, 0, 0, 0.25);
}
.search_result_item img,
.history_item img {
  margin-right: 10px;
}
.search_result_item .details,
.history_item .details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px 0;
}
.search_result_item .details h4,
.history_item .details h4 {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
}
.search_result_item .details span,
.history_item .details span {
  font-weight: bold;
}
.content {
  margin-top: 80px;
  display: flex;
}
